@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root{
  --countup-time: 1s;
  --slide-animation-time: 0.8s;
}

body{
  background: hsl(3, 100%, 98%);
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

a{
  color: inherit;
  text-decoration: none;
  font-size: 1.25rem;
}

*{
  box-sizing: border-box;
}

.content{
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .content div{
    padding: 0 1rem;
  }
}

nav{
  background: hsl(3, 100%, 88%);
  padding: 1rem;
  border-radius: 0 0 0.75rem 0.75rem;
  border: 1px solid hsl(3, 100%, 78%);
  border-top: none;
}

nav a{
  margin-left: 1rem;
}

button:disabled{
  cursor: wait;
}

footer{
  margin-top: 2rem;
  text-align: center;
  font-size: 0.8rem;
}