.title{
  display: flex;
  align-items: flex-start;
  gap: 0.25rem;
  letter-spacing: -1px;
  border-bottom: 1px solid rgba(255, 110, 102, 0.2);
  margin-bottom: 2rem;
}

.link{
  background: hsl(3, 100%, 78%);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid hsl(3, 100%, 70%);
  transition: 0.25s ease-out;
}
.link:hover{
  background: hsl(3, 100%, 73%);
  border-color: hsl(3, 100%, 65%)
}